<h1> all of the games </h1>

<ul>
  <strong>Click a game to play!</strong>
  <% @games.each do |g| %>
    <li> <%=link_to g.name, played_games_path(game: {game_id: g.id}), method: :post  %> | created by: <%= User.find(g.user_id).email %></li>
    <li></li>
  <% end %>
</ul>






